body {
    font-family: var(--fuente-principal);
    background-color: var(--gris-claro);
    color: var(--gris-negro);
    padding: var(--espaciado);
}

.site-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

body {
    font-family: var(--fuente-principal);
    background-color: var(--gris-claro);
    background-image: url("../img/patron-fondo.png");
    background-repeat: repeat;
    background-size: 800px;
    color: var(--gris-negro);
    padding: var(--espaciado);
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.788);
    pointer-events: none;
    z-index: -1;
}