:root {
    --negro: #000000;
    --azul-oscuro: #14213D;
    --amarillo: #FCA311;
    --gris: #E5E5E5;
    --blanco: #FFFFFF;

    --fuente-principal: 'Segoe UI', sans-serif;
    --borde-redondeado: 12px;
    --espaciado: 1rem;
}