:root {
    --gris-claro: #f2f2f2;
    --gris-medio-claro: #cccccc;
    --gris-medio: #999999;
    --gris-oscuro: #333333;
    --gris-negro: #111111;


    --blanco: #ffffff;

    /* Tipografía */
    --fuente-principal: 'Segoe UI', sans-serif;

    --borde-redondeado: 12px;
    --espaciado: 1rem;
}